<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Product Company" connectionString="Data Source=DESKTOP-7M1VJSO; Initial catalog=Product company;Integrated security=True"/>
    <add name="Product_companyEntities" connectionString="metadata=res://*/ProductCompanyModel1.csdl|res://*/ProductCompanyModel1.ssdl|res://*/ProductCompanyModel1.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-7M1VJSO;initial catalog=&quot;Product company&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>